form > input {
  width: auto;
  height: auto;
  font-size: medium;
}

body > div > div {
  margin: 10px;
  border: solid;
}

.mySearch {
  width: 47.5%;
  float: left;
}

.myFav {
  width: 47.5%;
  float: right;
}

div > button {
  margin: 10px;
  height: 30px;
  width: 70px;
}