h1 {
  text-align: center;
}

form > input {
  font-size: medium;
}

#pg {
  width: 275px;
}

.mySearch {
  width: 47.5%;
  float: left;
}

.myFav {
  width: 47.5%;
  float: right;
}

body > div > div {
  margin: 10px;
  border-bottom: solid;
  border-bottom-width: 2px;
}

div > button {
  margin: 10px;
  height: 30px;
  width: 70px;
}